/*

Main theme:     http://www.colourlovers.com/palette/623761/Walking_Away


Blue colors:  http://www.colourlovers.com/palette/490780/The_First_Raindrop
Gray colors:  http://www.colourlovers.com/palette/1457849/GRAY_ZONE

*/

/*

    Imdur/4         F6F6F6
    Wool White      E8E8E8
    Grr-ey          333333
    Schizophrenia   990100
    Disconnect      B90504

    NICE GRAY       949591

*/

html, body, div.content {
    height: 100%;
}

html {
    overflow-y: hidden;
}

body {
    line-height: 1.5;
    font-size: 17px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #333333;
    background-color: #E8E8E8;
    margin: 0;
}

input {
    padding: 5px;
}

*:focus {
    outline: none;
}

div.content {
    width: 960px;
    margin: auto;
    padding: 5px;

    background-color: #F6F6F6;
}

section h1 {
    color: #990100;
    text-align: center;
    font-weight: lighter;
}

section {
    padding-left: 16%;
    padding-right: 16%;
}

p {
    text-align: justify;
}